{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning btn-lg">LOGIN</button>
        </form>
    </div>
    <div class="container p-3 my-3 border border-info">
        <a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg">FORGOT PASSWORD</a>
    </div>
    <div class="container p-3 my-3 border border-info">
        <a href="{% url 'create-user' %}" class="btn btn-secondary btn-lg">CREATE ACCOUNT</a>
    </div><br>
{% endblock %}