{% extends 'base.html' %}
{% load static %}
{% block title %}
    Logout
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" style="margin-bottom:0; background: grey">
        <h1>VA MULTUMIM PENTRU CA ATI VIZITAT SITE-UL NOSTRU SI VA ASTEPTAM ORICAND CU DRAG</h1>
    </div>
{% endblock %}