{% extends 'base.html' %}
{% block title %}
    Password reset
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">
                Reset password
            </button>
        </form>
    </div>
{% endblock %}