{% extends 'base.html' %}
{% block title %}
    Password reset complete
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <p class="btn btn-danger">Password is reseted now</p>
    </div>
    <div class="container p-3 my-3 border border-info">
        <a href="{% url 'login' %}" class="btn btn-warning btn-lg">Login</a>
    </div>
{% endblock %}