{% extends 'base.html' %}
{% block title %}
    Password will be reset
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <h1 class="btn btn-warning">Password will be reseted</h1>
    </div>
{% endblock %}