{% extends 'base.html' %}
{% block title %}
    Reset confirm
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg">Change password</button>
        </form>
    </div>
    <div class="container p-3 my-3 border border-info">
        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-lg">Forgot password</a>
    </div>
{% endblock %}