<div class="container p-3 my-3 border border-info">
    <p class="btn btn-primary">De pe adresa de email {{ email }} url-ul pt schimbarea parolei este:{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p></div>