{% extends 'base.html' %}
{% block title %}
    Book Create
{% endblock %}
{% block content %}
    <div class="p-3"><a href='{% url 'books:books_list' %}' class="btn btn-primary btn-lg">
        Back to List
    </a></div>
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="author">Author</label>
            <select name="author_id" id="author">
                {% for author in authors %}
                    <option value="{{ author.id }}">
                        {{ author.name }}
                    </option>
                {% endfor %}
            </select><br><br>
            <label for="publisher">Publisher</label>
            <select name="publisher_id" id="publisher">
                {% for publisher in publishers %}
                    <option value="{{ publisher.id }}">
                        {{ publisher.name }}
                    </option>
                {% endfor %}
            </select><br><br>
            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
{% endblock %}