{% extends 'base.html' %}
{% load static %}
{% block title %}
    List of Books
{% endblock %}
{% block content %}
    <div class="p-3"><a href='{% url 'books:books_create' %}' class="btn btn-primary btn-lg">
        Add new book
    </a></div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Isbn</th>
                <th>Genre</th>
                <th>Publication date</th>
                <th>Pages</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Promotion</th>
                <th>Available after stock empty</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                {% for author_book in authors_books %}
                    {% if author_book.book == book %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ author_book.author.name }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.genre }}</td>
                            <td>{{ book.publication_date }}</td>
                            <td>{{ book.pages }}</td>
                            <td>{{ book.description }}</td>
                            <td>{{ book.price }}</td>
                            <td>{{ book.stock }}</td>
                            <td>{{ book.category }}</td>
                            <td>{{ book.promotion }}</td>
                            <td>{% if book.available_after_stock_empty ==  True %}
                                {{ 'Produsul este disponibil pentru a fi comandat' }}
                            {% else %}
                                {{ 'Produsul nu mai poate fi comandat' }}
                            {% endif %}</td>
                            <td>
                                <a href="{% url 'books:books_update' book.id %}" class="btn btn-info">Update</a>
                                <a href="{% url 'books:books_delete' book.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'books:books_detail' book.id %}" class="btn btn-warning">Details</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}