{% extends 'base.html' %}
{% load static %}
{% block title %}
    Book Details
{% endblock %}
{% block content %}
    <div class="container-fluid text-center" style="margin-top:30px">
        <h2 class="font-weight-bolder bg-info text-white p-1">{{ book.category.name }}</h2>
    </div>
    <div class="container-fluid text-center" style="margin-top:30px">
        {% for author_book in authors_books %}
            {% if author_book.book == book %}
                <div class="container-fluid container-sm text-center">
                    <h3 class="font-weight-bolder bg-info text-white p-1">
                        {{ author_book.author.name }}
                    </h3>
                </div>
            {% endif %}
        {% endfor %}
        <div class="container container-sm text-center p-1">
            <h3 class="font-weight-bolder bg-info text-white p-1">
                {{ book.title }}
            </h3>
        </div>
    </div>
    <div class="container-fluid container-sm" style="margin-top:20px">
        <div class="row">
            <div class="col sm-4 text-center" style="padding-top: 20px;">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="Card image cap">
                {% else %}
                    <img src="{% static 'img/books/no_book_image_available.png' %}" alt="Card image cap">
                {% endif %}
            </div>
            <div class="col sm-4">
                {% for author_book in authors_books %}
                    {% if author_book.book == book %}
                        <h3><strong>{{ author_book.author.name }},</strong></h3>
                    {% endif %}
                {% endfor %}
                <h5><strong>
                    Origine:
                    {% for author_book in authors_books %}
                        {% if author_book.book == book %}
                            {{ author_book.author.origin_author }},
                        {% endif %}
                    {% endfor %}
                </strong></h5>
                <h3><strong>{{ book.title }}</strong></h3>
                <h4><strong>
                    Promotia: {{ book.promotion.name }}
                </strong></h4>
                <h4><strong>
                    {{ book.promotion.period_of_promotion }}
                </strong></h4>
                <h5><strong>Pret: {{ book.price }} lei</strong></h5>
                {% if book.stock >= 5 %}
                    <h5><strong>{{ 'In stoc' }}</strong></h5>
                    <h5><strong>{{ 'Estimare livrare: ' }}{{ '3 zile' }}</strong></h5>
                {% elif book.stock == 4 or book.stock == 3 %}
                    <h5><strong>{{ 'Stoc redus' }}</strong></h5>
                    <h5><strong>{{ 'Estimare livrare: ' }}{{ '7 zile' }}</strong></h5>
                {% elif book.stock == 2 %}
                    <h5><strong>{{ 'Doua in stoc' }}</strong></h5>
                    <h5><strong>{{ 'Estimare livrare: ' }}{{ '10 zile' }}</strong></h5>
                {% elif book.stock == 1 %}
                    <h5><strong>{{ 'Ultima in stoc' }}</strong></h5>
                    <h5><strong>{{ 'Estimare livrare: ' }}{{ '10 zile' }}</strong></h5>
                {% elif book.stock == 0 %}
                    <h5><strong>{{ 'Stoc 0' }}</strong></h5>
                    <h5><strong>{{ 'Estimare livrare: ' }}{{ '10 zile' }}</strong></h5>
                {% endif %}
                {% if book.stock == 0 %}
                    <h5><strong>
                        {% if book.available_after_stock_empty ==  True %}
                            {{ 'Produsul este disponibil pentru a fi comandat' }}
                        {% else %}
                            {{ 'Produsul nu mai poate fi comandat' }}
                        {% endif %}
                    </strong></h5>
                {% endif %}
                {% for publisher_book in publishers_books %}
                    {% if publisher_book.book == book %}
                        <h5><strong>
                            {{ publisher_book.publisher.name }},
                        </strong></h5>
                    {% endif %}
                {% endfor %}
                {% for publisher_book in publishers_books %}
                    {% if publisher_book.book == book %}
                        <h5><strong>
                            {{ publisher_book.publisher.location }}
                        </strong></h5>
                    {% endif %}
                {% endfor %}
                <h5><strong>Anul aparitiei: {{ book.publication_date }}</strong></h5>
                <h5><strong>Numar de pagini: {{ book.pages }}</strong></h5>
                <h5><strong>ISBN-13: {{ book.isbn }}</strong></h5>
                <h5><strong>Categoria: {{ book.category.name }}</strong></h5>
                <h5><strong>Genul: {{ book.genre }}</strong></h5>
            </div>
            <div class="col sm-4 text-center" style="padding-top: 100px;">
                <form method="post" action="{% url 'books:add_product_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <input type="number" name="cantitate" value="1" style="width:75px;">
                    <button class="btn btn-primary m-1" type="submit">ADD TO CART</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid container-sm">
        <div class="col sm-4">
            <p><strong>DESCRIERE: {{ book.description }}</strong></p>
        </div>
    </div>
{% endblock %}