{% extends 'base.html' %}
{% load static %}
{% block title %}
    List of Categories
{% endblock %}
{% block content %}
    <div class="container container-fluid container-sm text-center">
        <h2 class="p-3"><strong>LISTA DE CATEGORII</strong></h2>
    </div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nume Categorie</th>
                <th>Descriere Categorie</th>
                <th>Detalii Categorie</th>
            </tr>
            </thead>
            <tbody>
            {% for category in all_categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a href="{% url 'books:category_detail' category.id %}" class="btn btn btn-warning">DETAILS</a>
                        <a href="{% url 'books:category_list' %}" class="btn btn btn-primary">BACK TO LIST</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'books:category_list' %}" class="btn btn-primary btn-lg">BACK TO LIST</a>
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">TO HOME PAGE</a>
    </div><br>

    {% if current_user and current_user.is_superuser %}
        <div class="p-3"><a href='{% url 'books:category_create' %}' class="btn btn-primary btn-lg">
            Add new category
        </a></div>
        <div class="table-responsive p-3">
            <table class="table table-hover table-info table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in all_categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <a href="{% url 'books:category_update' category.id %}" class="btn btn-info">Update</a>
                            <a href="{% url 'books:category_delete' category.id %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'books:category_detail' category.id %}" class="btn btn-warning">Details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-3">
            <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
            <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
        </div><br>
    {% endif %}
{% endblock %}