{% extends 'base.html' %}
{% block title %}
    Update Category
{% endblock %}
{% block content %}
    <div class="p-3"><a href="{% url 'books:category_list' %}" class="btn btn-primary btn-lg">
        Back to List
    </a></div>
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">
                Update
            </button>
        </form>
    </div>
{% endblock %}