{% extends 'base.html' %}
{% load static %}
{% block title %}
    Category Details
{% endblock %}
{% block content %}
    <div class="container-fluid text-center" style="margin-top:30px">
        <h2 class="font-weight-bolder bg-info text-white p-1">{{ category.name }}</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for book in books %}
                <div class="card m-4" style="width: 18rem;">
                    <a href="{% url 'books:books_detail' book.id %}" style="text-decoration: none">
                        {% if book.image %}
                            <img class="card-img-top border"
                                 src="{{ book.image.url }}"
                                 alt="Card image cap">
                        {% else %}
                            <img class="card-img-top border"
                                 src="{% static 'img/books/no_book_image_available.png' %}"
                                 alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                            <p class="card-text">
                                {% for author_book in authors_books %}
                                    {% if author_book.book == book %}
                                        <strong>{{ author_book.author.name }},</strong>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">
                                {% for publisher_book in publishers_books %}
                                    {% if publisher_book.book == book %}
                                        <strong>{{ publisher_book.publisher.name }}</strong>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">
                                <strong>
                                    Pret: {{ book.price }} lei
                                </strong>
                            </p>
                            <div class="card-footer">
                                <form method="post" action="{% url 'books:add_product_to_cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="book_id" value="{{ book.id }}">
                                    <button class="btn btn-primary m-1" type="submit">ADD TO CART</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'books:category_list' %}" class="btn btn btn-primary">BACK TO LIST</a>
    </div><br>
{% endblock %}