{% extends 'base.html' %}
{% load static %}
{% block title %}
    List of Authors
{% endblock %}
{% block content %}
    <div class="p-3"><a href='{% url 'books:authors_create' %}' class="btn btn-primary btn-lg">
        Add new author
    </a></div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Origin of author</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in all_authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.origin_author }}</td>
                    <td>
                        <a href="{% url 'books:authors_update' author.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'books:authors_delete' author.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'books:authors_detail' author.id %}" class="btn btn-warning">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}