{% extends 'base.html' %}
{% load static %}
{% block title %}
    Author Details
{% endblock %}
{% block content %}
    <div class="table-responsive p-4 container-sm">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Origin of author</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.origin_author }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="p-4 container-sm">
        <a href="{% url 'books:authors_list' %}" class="btn btn-primary btn-lg">BACK TO LIST</a>
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">TO HOME PAGE</a>
    </div>
{% endblock %}





