{% extends 'base.html' %}
{% load static %}
{% block title %}
    List of Authors-Books
{% endblock %}
{% block content %}
    <div class="p-3"><a href='{% url 'books:authors_books_create' %}' class="btn btn-primary btn-lg">
        Add new author-book
    </a></div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Book</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author_book in all_authors_books %}
                <tr>
                    <td>{{ author_book.id }}</td>
                    <td>{{ author_book.book }}</td>
                    <td>{{ author_book.author }}</td>
                    <td>
                        <a href="{% url 'books:authors_books_update' author_book.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'books:authors_books_delete' author_book.id %}"
                           class="btn btn-danger">Delete</a>
                        <a href="{% url 'books:authors_books_detail' author_book.id %}"
                           class="btn btn-warning">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}