{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin:30px">
        <h1><strong><img src="{% static 'img/logo/poza_1.jpg' %}" alt="LIBRARIA MEA" width="450" height="200">BINE ATI
            VENIT LA "PRIMA MEA
            LIBRARIE.NET"</strong></h1>
        <h2><strong>AICI VETI GASI CELE MAI INTERESANTE CARTI PENTRU PRIMA DUMNEAVOASTRA BIBLIOTECA:<br>
            „Oameni obișnuiți au televizoare mari, oamenii extraordinari au biblioteci mari.“ Robin Sharma, orator
            motivațional de mare succes
        </strong></h2>
        <h3><strong>DESPRE NOI</strong></h3>
        <h4><strong>Prima mea librarie online - SRL</strong></h4>
        <h4><strong>Adresa: Bdul Basarabiei - 45; Bucuresti - Romania</strong></h4>
        <h4><strong>Telefon: 0745-123789</strong></h4>
        <h4><strong>E-mail: primamealibrarie.net</strong></h4>
        <h4><strong>Program relații cu clienții: Luni - Vineri: 9:00 - 20:00 Sâmbătă - Duminică: 10:00 - 18:00.</strong>
        </h4>
        <h4><strong>primamealibrarie.net este un proiect al companiei 'Prima mea librarie online - SRL' lansat in martie
            2021.</strong></h4>
        <h4><strong>Proiectul se doreste a fi o librarie on-line care sa ofere carti de calitate, pentru toate gusturile
            si pentru toate varstele.</strong></h4>
        <h4><strong>Libraria este structurata in doua mari categorii: Stiinte si Beletristica, care contin in total 24
            de subcategorii, dar va lasam sa le explorati singuri.</strong></h4>
        <h4><strong>Speram sa aveti o experienta culturala placuta alaturi de noi in urmatorii ani.</strong></h4>
    </div>
    <div class="container-fluid" style="margin:30px">
        <nav>
            <br><a href="{% url 'login' %}" class="btn btn-primary btn-lg">TO PAGE LOGIN</a>
            <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
            <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">TO HOME PAGE</a>
        </nav>
        <br>
    </div>
{% endblock %}