<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
{% block header %}
    <div class="jumbotron jumbotron-fluid" style="margin-bottom:0; background-image:url('https://mdbootstrap.com/img/new/standard/nature/111.jpg'); background-size:cover;">
        <div class="container-fluid bg-info text-center font-weight-bolder">
            <h1 class="font-weight-bolder bg-info text-white text-center p-2" style="font-size: 50px;">PRIMA MEA
                LIBRARIE.NET</h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-info navbar-dark text-white">
        <a href="{% url 'books:home_page' %}" class="large_white_text m-2"
           style="font-size: 30px; text-decoration: none;">PRIMA
            MEA LIBRARIE.NET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link large_white_text" href="{% url 'books:about_page' %}">ABOUT</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle large_white_text" href="#"
                       id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STORE</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'books:category_list' %}">TOATE CATEGORIILE</a>
                        <a class="dropdown-item" href="{% url 'books:promotion_list' %}">TOATE PROMOTIILE</a>
                    </div>
                </li>
                {% for main_category in categories %}
                    {% if not main_category.parent_category %}
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle large_white_text" href="#" id="navbarDropdownMenuLink"
                               role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ main_category.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for sub_category in categories %}
                                    {% if sub_category.parent_category == main_category %}
                                        <a class="dropdown-item"
                                           href="{% url 'books:category_detail' sub_category.id %}">{{ sub_category.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if current_user and current_user.is_superuser %}
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle large_white_text" href="#"
                           id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'books:category_list' %}">TOATE CATEGORIILE</a>
                            <a class="dropdown-item" href="{% url 'books:books_list' %}">TOATE CARTILE</a>
                            <a class="dropdown-item" href="{% url 'books:promotion_list' %}">TOATE PROMOTIILE</a>
                            <a class="dropdown-item" href="{% url 'books:authors_list' %}">TOTI AUTORII</a>
                            <a class="dropdown-item" href="{% url 'books:publishers_list' %}">TOATE EDITURILE</a>
                            <a class="dropdown-item" href="{% url 'books:authors_books_list' %}">TOATE CARTILE SI
                                AUTORII</a>
                            <a class="dropdown-item" href="{% url 'books:publishers_books_list' %}">TOATE CARTILE SI
                                EDITURILE</a>
                            <a class="dropdown-item" href="{% url 'books:orders_list' %}">TOATE COMENZILE</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/admin/users/extenduser/add/">CREARE USER</a>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">ADMIN PANEL</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item  active">
                    <a class="nav-link large_white_text" href="{% url 'login' %}"><i class="fas fa-user fa-lg"
                                                                                     style="color: white"></i></a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link large_white_text" href="{% url 'books:open_cart' %}"><i
                            class="fas fa-shopping-cart fa-lg"
                            style="color: white"></i><span class="rounded-pill small font-weight-bolder"
                                                           style="background: white; color: #003366">  {{ count }}  </span>
                    </a>
                </li>
                {% if current_user and not current_user.is_anonymous %}
                    <li class="nav-item  active">
                        <a class="nav-link large_white_text" href="{% url 'logout' %}">LOGOUT</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline" action="">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="myInput">
                <button class="btn bg-info search_text" type="submit" style="color: white">SEARCH</button>
            </form>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small bg-info">
    <!-- Footer Elements -->
    <div class="container">
        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 py-4">
                <span class="py-3 text-white"><a href="{% url 'books:home_page' %}"
                                                 style="text-decoration: none">Home  </a></span>
                <span class="py-3 text-white"><a href="{% url 'books:about_page' %}" style="text-decoration: none">About us</a></span><br>
                <span class="py-3 text-white">Location:</span>
                <span class="py-3 text-white">Bucuresti - Romania</span><br>
                <span class="py-3 text-white">Bdul Basarabiei - 45  </span><br>
                <span class="py-3 text-white">Contact Us:  </span>
                <span class="py-3 text-white"><i class="fa fa-phone mr-3 text-white"></i>0745-123789</span><br>
                <span class="py-3 text-white"><a href="https://primamealibrarie.net/" style="text-decoration: none">primamealibrarie.net</a></span><br>
                <span class="py-3 text-white">Program relații cu clienții:</span>
                <span class="py-3 text-white">Luni - Vineri: 9:00 - 20:00</span>
                <span class="py-3 text-white">Sâmbătă - Duminică: 10:00 - 18:00</span>
                <hr style="background: white">
                <div class="mb-5 flex-center text-center">
                    <!-- Facebook -->
                    <a class="fb-ic btn btn-primary btn-lg btn-floating" style="background: white"
                       href="https://www.facebook.com">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: mediumblue"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic btn btn-primary btn-lg btn-floating" style="background: white"
                       href="https://twitter.com/">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: mediumblue"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic btn btn-primary btn-lg btn-floating" style="background: white"
                       href="https://www.linkedin.com/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"
                           style="color: mediumblue"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic btn btn-primary btn-lg btn-floating" style="background: white"
                       href="https://www.instagram.com/">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: mediumblue"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic btn btn-primary btn-lg btn-floating" style="background: white"
                       href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x" style="color: mediumblue"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 text-white">© 2021 Copyright:
        <a href="https://primamealibrarie.net/" style="text-decoration: none">PRIMA MEA LIBRARIE.NET</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>