{% extends 'base.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1>VA MULTUMIM PENTRU CA ATI VIZITAT SITE-UL NOSTRU SI VA ASTEPTAM ORICAND CU DRAG</h1>
        </div>
    </div>
{% endblock %}