{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <br>
    <div class="container-fluid" style="margin:30px">
        <h1><strong>PRIMA PAGINA</strong></h1>
        <img src="{% static 'img/categ/poza_1.jpg' %}" alt="HOME" width="300" height="200">
        <h1><strong>„Nu există prieten mai loial decât cărțile.“ Ernest Hemingway</strong></h1>
        <h2><strong>Aici vom descoperi care sunt promotiile cartilor noastre:</strong></h2>
    </div>
    <div class="container-fluid" style="margin:30px">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/categ/easter-egg-3257194__340.jpg' %}" class="d-block" alt="poza_1"
                         width="500" height="320">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: black"><strong>Promotie de Paste</strong></h2>
                        <h3 style="color: black"><strong>20.03.2021 - 02.05.2021</strong></h3>
                        <h3 style="color: black"><strong>Reduceri de pret de 10%</strong></h3>
                        <h3 style="color: black"><strong>La produsele selectate</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/istockphoto-1204229219-170667a.jpg' %}" class="d-block" alt="poza_2"
                         width="500" height="320">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: black"><strong>Promotie de Primavara</strong></h2>
                        <h3 style="color: black"><strong>01.03.2021 - 31.05.2021</strong></h3>
                        <h3 style="color: black"><strong>Reduceri de pret de 15%</strong></h3>
                        <h3 style="color: black"><strong>La produsele selectate</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/reduceri_finale.jpg' %}" class="d-block" alt="poza_3"
                         width="500" height="320">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="color: black"><strong>Reduceri finale de sezon</strong></h2>
                        <h3 style="color: black"><strong>15.04.2021-15.06.2021</strong></h3>
                        <h3 style="color: black"><strong>Reduceri de pret de 20%</strong></h3>
                        <h3 style="color: black"><strong>La produsele selectate</strong></h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container-fluid" style="margin:30px">
        <h2><strong>Aici vom descoperi care sunt categoriile cartilor noastre:</strong></h2>
    </div>
    <div class="container-fluid" style="margin:30px">
        <h2><strong>Categoria "BELETRISTICA" cuprinde urmatoarele subcategorii:</strong></h2>
    </div>
    <div class="container-fluid" style="margin:30px">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                <li data-target="#demo" data-slide-to="6"></li>
                <li data-target="#demo" data-slide-to="7"></li>
                <li data-target="#demo" data-slide-to="8"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/categ/poza_2.jpg' %}" alt="poza_1" width="500"
                         height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>LITERATURA</strong></h2>
                        <h3 style="color: black"><strong>Proza, poezie, narațiuni,</strong></h3>
                        <h3 style="color: black"><strong>articole de critică literară</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_3.jpg' %}" alt="poza_2" width="500"
                         height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>BIOGRAFII SI</strong></h2>
                        <h2 style="color: black"><strong>MEMORIALISTICA</strong></h2>
                        <h3 style="color: black"><strong>Biografii si memorii</strong></h3>
                        <h3 style="color: black"><strong>ale unor personalitati</strong></h3>
                        <h3 style="color: black"><strong>din cultura si istoria lumii</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_4.jpg' %}" alt="poza_3" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>CARTI IN LIMBI STRAINE</strong></h2>
                        <h3 style="color: black"><strong>Carti scrise in limbi straine</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_5.jpg' %}" alt="poza_4" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>CARTI PENTRU COPII</strong></h2>
                        <h3 style="color: black"><strong>Carti pentru copii</strong></h3>
                        <h3 style="color: black"><strong>de toate varstele</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_6.jpg' %}" alt="poza_5" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>COMUNICARE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre comunicare</strong></h3>
                        <h3 style="color: black"><strong>si relatii publice</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_7.jpg' %}" alt="poza_6" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>DEZVOLTARE PERSONALA</strong></h2>
                        <h3 style="color: black"><strong>Carti despre cunoastere</strong></h3>
                        <h3 style="color: black"><strong>si dezvoltare personala</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_8.jpg' %}" alt="poza_7" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>FICTIUNE</strong></h2>
                        <h3 style="color: black"><strong>Fascinante carti de fictiune</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_10.jpg' %}" alt="poza_9" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>GHIDURI DE CALATORIE</strong></h2>
                        <h3 style="color: black"><strong>Minunate ghiduri de calatorie</strong></h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="container-fluid" style="margin:30px">
        <h2><strong>Categoria "STIINTE" cuprinde urmatoarele subcategorii:</strong></h2>
    </div>
    <div class="container-fluid" style="margin:30px">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                <li data-target="#demo" data-slide-to="6"></li>
                <li data-target="#demo" data-slide-to="7"></li>
                <li data-target="#demo" data-slide-to="8"></li>
                <li data-target="#demo" data-slide-to="9"></li>
                <li data-target="#demo" data-slide-to="10"></li>
                <li data-target="#demo" data-slide-to="11"></li>
                <li data-target="#demo" data-slide-to="12"></li>
                <li data-target="#demo" data-slide-to="13"></li>
                <li data-target="#demo" data-slide-to="14"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/categ/poza_11.jpg' %}" alt="poza_1" width="500"
                         height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>ARTA, ARHITECTURA SI FOTOGRAFIE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre arta lumii,</strong></h3>
                        <h3 style="color: black"><strong>arhitectura si fotografie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_12.jpg' %}" alt="poza_2" width="500"
                         height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>CALCULATOARE/IT</strong></h2>
                        <h2 style="color: black"><strong>Carti despre domeniul</strong></h2>
                        <h3 style="color: black"><strong>IT si calculatoare</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_13.jpg' %}" alt="poza_3" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>DICTIONARE SI ENCICLOPEDII</strong></h2>
                        <h3 style="color: black"><strong>Dictionare si enciclopedii</strong></h3>
                        <h3 style="color: black"><strong>din diverse domenii</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_14.jpg' %}" alt="poza_4" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>DREPT</strong></h2>
                        <h3 style="color: black"><strong>Carti despre</strong></h3>
                        <h3 style="color: black"><strong>legislatie si drept</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_15.jpg' %}" alt="poza_5" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>ECONOMIE SI FINANTE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre</strong></h3>
                        <h3 style="color: black"><strong>economie si finante</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_16.jpg' %}" alt="poza_6" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>FILOLOGIE SI FILOSOFIE</strong></h2>
                        <h3 style="color: black"><strong>Carti de filologie</strong></h3>
                        <h3 style="color: black"><strong>si filosofie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_9.jpg' %}" alt="poza_8" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>GASTRONOMIE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre cultura</strong></h3>
                        <h3 style="color: black"><strong>gastronomica</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_17.jpg' %}" alt="poza_7" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>HARTI</strong></h2>
                        <h3 style="color: black"><strong>Hartile lumii</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_18.jpg' %}" alt="poza_8" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>INVATA LIMBI STRAINE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre invatarea</strong></h3>
                        <h3 style="color: black"><strong>limbilor straine</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_19.jpg' %}" alt="poza_9" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>ISTORIE</strong></h2>
                        <h3 style="color: black"><strong>Carti de istorie si civilizatie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_20.jpg' %}" alt="poza_10" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>PSIHOLOGIE</strong></h2>
                        <h3 style="color: black"><strong>Carti de psihologie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_21.jpg' %}" alt="poza_11" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>RELIGIE SI SPIRITUALITATE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre</strong></h3>
                        <h3 style="color: black"><strong>spiritualitate si religie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_22.jpg' %}" alt="poza_12" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>REVISTE SI ALMANAHURI</strong></h2>
                        <h3 style="color: black"><strong>Reviste si almanahuri</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_23.jpg' %}" alt="poza_13" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>SOCIOLOGIE</strong></h2>
                        <h3 style="color: black"><strong>Carti de sociologie</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_24.jpg' %}" alt="poza_14" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>STIINTE NATURALE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre natura si</strong></h3>
                        <h3 style="color: black"><strong>intelegerea fenomenelor naturale</strong></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/categ/poza_25.jpg' %}" alt="poza_15" width="500" height="320">
                    <div class="carousel-caption">
                        <h2 style="color: black"><strong>STIINTE POLITICE</strong></h2>
                        <h3 style="color: black"><strong>Carti despre stiinte politice</strong></h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="container-fluid" style="margin:30px">
        <nav>
            <br><a href="{% url 'login' %}" class="btn btn-primary btn-lg">TO PAGE LOGIN</a>
            <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
        </nav>
        <br>
    </div>
{% endblock %}