{% extends 'base.html' %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    <div class="container-fluid text-center" style="margin-top:30px">
        <div class="container-fluid container-sm text-center">
            <h2 class="font-weight-bolder bg-info text-white p-1">CART</h2>
        </div>
        <div class="container-fluid container-sm text-center" style="margin-top:15px">
            <div class="row container-fluid container-sm text-center">
                <div class="col"><h3 class="font-weight-bolder bg-info text-white p-1">ITEM</h3></div>
                <div class="col"><h3 class="font-weight-bolder bg-info text-white p-1">PRICE</h3></div>
                <div class="col"><h3 class="font-weight-bolder bg-info text-white p-1">QUANTITY</h3></div>
                <div class="col"><h3 class="font-weight-bolder bg-info text-white p-1">ADD QUANTITY</h3></div>
            </div>
        </div>
        <br>
        <div class="container-fluid container-sm text-center">
            {% for cart_item in cart_items %}
                <div class="row container-fluid container-sm">
                    <div class="col">
                        <div>
                            <strong>{{ forloop.counter }}.</strong>
                            <img src="{{ cart_item.book.image.url }}" alt="" width="100" height="100">
                            <h4><strong>{{ cart_item.book.title }}</strong></h4>
                        </div>
                    </div>
                    <div class="col"><h4><strong>{{ cart_item.book.price }} lei</strong></h4></div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <form method="post" action="{% url 'books:add_product_to_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" value="{{ cart_item.book.id }}">
                                <input type="hidden" name="cantitate" value="-1">
                                <button class="font-weight-bolder btn btn-primary btn-lg m-1" type="submit">-</button>
                            </form>
                            <div class="large_text m-2">{{ cart_item.cantitate }}</div>
                            <form method="post" action="{% url 'books:add_product_to_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="book_id" value="{{ cart_item.book.id }}">
                                <input type="hidden" name="cantitate" value="1">
                                <button class="font-weight-bolder btn btn-primary btn-lg m-1" type="submit">+</button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <form method="post" action="{% url 'books:add_product_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ cart_item.book.id }}">
                            <input type="number" name="cantitate" value="1" style="width:60px;">
                            <button class="font-weight-bolder btn btn-primary m-1" type="submit">ADD QUANTITY</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="container-fluid container-sm text-center">
                <h3 class="font-weight-bolder bg-info text-white p-1">TOTAL:{{ total }} lei <i
                        class="fas fa-shopping-cart fa-lg"
                        style="color: white"></i><span
                        class="rounded-pill small font-weight-bolder"
                        style="background: white; color: #003366">  {{ count }}  </span></h3>
            </div>
            <br>
            <div class="container-fluid container-sm text-center">
                <form method="post" action="{% url 'books:checkout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="cart_id" value="{{ open_cart.id }}">
                    <button class="font-weight-bolder btn btn-primary btn-lg m-1" type="submit">CHECKOUT</button>
                </form>
            </div>
            <br>
            <div class="p-3">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">TO PAGE LOGIN</a>
                <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
                <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">TO HOME PAGE</a>
            </div>
            <br>
        </div>
    </div>
{% endblock %}






