{% extends 'base.html' %}
{% block title %}
    Orders List
{% endblock %}
{% block content %}
    <div class="container container-fluid container-sm text-center">
        <h2 class="p-3"><strong>LISTA DE COMENZI</strong></h2>
    </div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Cart id</th>
                <th>Order id</th>
                <th>Date order</th>
                <th>Status</th>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in all_orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.date_ordered }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>{{ order.user.first_name }}</td>
                    <td>{{ order.user.last_name }}</td>
                    <td>
                        {% for extended_user in extended_users %}
                            {% if extended_user.user_ptr_id == order.user.id %}
                                {{ extended_user.phone }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for extended_user in extended_users %}
                            {% if extended_user.user_ptr_id == order.user.id %}
                                {{ extended_user.address }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'books:orders_detail' order.id %}" class="btn btn-warning">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}
