{% extends 'base.html' %}
{% load static %}
{% block title %}
    Orders Details
{% endblock %}
{% block content %}
    <div class="container container-fluid container-sm text-center">
        <h2 class="p-3"><strong>DETALII COMANDA</strong></h2>
    </div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Cart id</th>
                <th>Order id</th>
                <th>Date ordered</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Book</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.cart.id }}</td>
                    <td>{{ cart_item.cart.order_id }}</td>
                    <td>{{ cart_item.cart.date_ordered }}</td>
                    <td>{{ cart_item.cart.user.first_name }}</td>
                    <td>{{ cart_item.cart.user.last_name }}</td>
                    <td>{{ cart_item.cart.user.username }}</td>
                    <td>{{ cart_item.cart.user.email }}</td>
                    <td>
                        {% for extended_user in extended_users %}
                            {% if extended_user.user_ptr_id == cart_item.cart.user.id %}
                                {{ extended_user.phone }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for extended_user in extended_users %}
                            {% if extended_user.user_ptr_id == cart_item.cart.user.id %}
                                {{ extended_user.address }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ cart_item.book.title }}</td>
                    <td>{{ cart_item.cantitate }} buc</td>
                    <td>{{ cart_item.book.price }} Lei</td>
                    <td>{{ cart_item.get_total }} Lei</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="text-align: right">
            <strong>Total books quantity: {{ count }} buc</strong>
        </div>
        <div style="text-align: right">
            <strong>Total books price: {{ total }} Lei</strong>
        </div>
    </div>
    <div class="p-3">
        <a href="{% url 'books:orders_list' %}" class="btn btn btn-primary btn-lg">Back to list</a>
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}
