{% extends 'base.html' %}
{% block title %}
    Create New User
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary btn-lg">CREATE USER</button>
        </form>
    </div>
    <div class="container p-3 my-3 border border-info">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">TO PAGE LOGIN</a>
    </div>
{% endblock %}