{% extends 'base.html' %}
{% block title %}
    Delete Publisher
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 border border-info">
        <form method="post" action="">
            {% csrf_token %}
            <p class="btn btn-danger">Are you sure, do you want to delete this publisher?</p><br>
            <p class="btn btn-warning">Do you want to give up?</p>
            <p><a href="{% url 'books:publishers_list' %}" class="btn btn-primary btn-lg">Then, go back to the list of
                publishers</a></p>
            <button type="submit" class="btn btn-info">Or, Delete</button>
        </form>
    </div>
{% endblock %}