{% extends 'base.html' %}
{% load static %}
{% block title %}
    List of Publishers
{% endblock %}
{% block content %}
    <div class="p-3"><a href='{% url 'books:publishers_create' %}' class="btn btn-primary btn-lg">
        Add new publisher
    </a></div>
    <div class="table-responsive p-3">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for publisher in all_publishers %}
                <tr>
                    <td>{{ publisher.id }}</td>
                    <td>{{ publisher.name }}</td>
                    <td>{{ publisher.location }}</td>
                    <td>
                        <a href="{% url 'books:publishers_update' publisher.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'books:publishers_delete' publisher.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'books:publishers_detail' publisher.id %}" class="btn btn-warning">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3">
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">Logout</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">To home page</a>
    </div><br>
{% endblock %}