{% extends 'base.html' %}
{% block title %}
    Publisher Book Details
{% endblock %}
{% block content %}
    <div class="table-responsive p-4 container-sm">
        <table class="table table-hover table-info table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Name of publisher</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ publisher_book.id }}</td>
                <td>{{ publisher_book.book }}</td>
                <td>{{ publisher_book.publisher }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="p-4 container-sm">
        <a href="{% url 'books:publishers_books_list' %}" class="btn btn-primary btn-lg">BACK TO LIST</a>
        <a href="{% url 'logout' %}" class="btn btn-warning btn-lg">LOGOUT</a>
        <a href="{% url 'books:home_page' %}" class="btn btn-primary btn-lg">TO HOME PAGE</a>
    </div>
{% endblock %}

